  <% flash.each do |key, message| %>
  <div class="flash-message alert alert-<%= key %>">
    <span class="flash-message-text"><%= message %></span>
    <button type="button" class="flash-message-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>