<%= javascript_pack_tag 'project_form' %>

<div class="container my-2">
  <div class="field form-group">
    <label for="project_name" class="required">Name</label>
    <input type="text" id="project_name" class="form-control" name="project[name]">
    <p  class="text-danger" id="projectForm"><%= error_messages(@project, :name) %></p>
  </div>
  <div class="actions d-flex justify-content-center my-3">
    <button type="submit" class="btn mybtn-success" id="create-project-btn">Create Project</button>
  </div>
</div>
