@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

@import "notifications.scss";
@import "404.scss";
@import "flash.scss";
@import "sidenav.scss";
@import "user.scss";

* {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}

.panel{
  width: 100%;
}

.main-container{
  background-color: #F3F4F4;
}

.body-bg{
  background-color: #f1f2f4;
}

.displayNone {
  display: none;
}

.mybtn-success {
  background-color: #56ad56;
  border: #56ad56;
  color: #ffff;
}

.mybtn-success:hover{
  color: #ffff;
}

.white-line{
  background-color: white; margin: 0px
}

.btn-blue {
  background-color: #256188;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
}

.btn-blue:hover {
  color: white;
}

.btn .badge {
  top: -11px;
  left: -8px;
}

.body-row{
  background-color: #212123;
}

.heading{
  font-weight:bold; font-size: 20px
}

.sub-heading{
  font-weight:semibold; font-size: 20px
}

.projectNav{
  background-color: #256188;
}

.modal-close-btn{
  border: none;background: transparent;
}

.close-icon{
  color: #ff4d4d;
}

.pointer{
  cursor: pointer;
}

.mt-10{
  margin-top: 8rem;
}

.text-upper{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
