@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

@import "notifications.scss";
@import "404.scss";
@import "flash.scss";
@import "sidenav.scss";
@import "user.scss";

* {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}

.link-text {
  color: #fff;
}

.panel {
  width: 100%;
}

.main-container {
  background-color: #f3f4f4;
}

.body-bg {
  background-color: #f1f2f4;
}

.displayNone {
  display: none;
}

.mybtn-success {
  background-color: #56ad56;
  border: #56ad56;
  color: #ffff;
}

.mybtn-success:hover {
  color: #ffff;
}

.white-line {
  background-color: white;
  margin: 0px;
}

.btn-blue {
  background-color: #256188;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
}

.btn-blue:hover {
  color: white;
}

.btn .badge {
  top: -11px;
  left: -8px;
}

.body-row {
  background-color: #212123;
}

.heading {
  font-weight: bold;
  font-size: 20px;
}

.sub-heading {
  font-weight: semibold;
  font-size: 20px;
}

.projectNav {
  background-color: #256188;
}

.modal-close-btn {
  border: none;
  background: transparent;
}

.close-icon {
  color: #ff4d4d;
}

.pointer {
  cursor: pointer;
}

.mt-10 {
  margin-top: 8rem;
}

.text-upper {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.profile-container {
  background: #a1a4ad;
  color: #fff;
  border-radius: 50%;
  width: 300px;
  font-size: 147px;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.edit-btn{
  border: 2px solid grey;
}

.edit-btn:hover{
  background-color: white;
  transition: 0.3s ease-in-out;
}

.line-break{
  width:22rem
}

@media (max-width: 605px) {
  * {
    font-size: 14px; 
  }
  .sidebar-collapsed {
    width: 55px;
  }
  .sidebar-expanded {
    width: 55px;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 12px; 
  }
  .sidebar-collapsed {
    width: 45px;
  }
  .sidebar-expanded {
    width: 45px;
  }
}

@media (max-width: 355px) {
  * {
    font-size: 10px; 
  }
  .sidebar-collapsed {
    width: 40px;
  }
  .sidebar-expanded {
    width: 40px;
  }
  .text-upper{
    font-size: 8px;
  }
}