.bottom-text {
  font-weight: semibold;
  font-size: 13px;
}

.block {
  max-width: 35rem;
}

.line {
  height: 2px;
  background-color: black;
}

.google-btn {
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

.bold{
    font-weight: bold;
}
